@model IEnumerable<Nozdormu.Server.Models.ReadUserModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Pattern</th>
                <th>AccountId</th>
            </tr>
        </thead>
        @foreach (var user in Model)
        {
        <tr>
            <td>
                @user.Id
            </td>
            <td>
                @user.Name
            </td>
            <td>
                @user.Pattern
            </td>
            <td>
                @user.AccountId
            </td>
        </tr>
        }
    </table>
</div>